version: "3"
services:
  django_gunicorn:
    build:
      context: .
    container_name: cube_python_django_gunicorn_django
    environment:
      - CUBE_SAMPLE_MYSQL_HOST=mysql
      # New Relic agent will send data on https://<domain_of_cubeapm_server>:443
      - NEW_RELIC_HOST=<domain_of_cubeapm_server>
      - NEW_RELIC_APP_NAME=cube_sample_python_django_gunicorn_newrelic
      - NEW_RELIC_LICENSE_KEY=ABC4567890ABC4567890ABC4567890ABC4567890

      # (optional) to get garbage collection metrics
      - NEW_RELIC_GC_RUNTIME_METRICS_ENABLED=true

      # process logs
      - NEW_RELIC_APPLICATION_LOGGING_ENABLED=true
      # do not send logs directly to CubeAPM
      - NEW_RELIC_APPLICATION_LOGGING_FORWARDING_ENABLED=false
      # add the following to logs
      # NR-LINKING|{app_guid}|{hostname}|{trace_id}|{span_id}|{app_name}|
      - NEW_RELIC_APPLICATION_LOGGING_LOCAL_DECORATING_ENABLED=true

      # Print New Relic agent logs on screen
      # - NEW_RELIC_LOG=stdout
      # Set New Relic agent log level to debug if needed to see detailed logs
      # - NEW_RELIC_LOG_LEVEL=debug
    ports:
      - "8000:8000"
    depends_on:
      - mysql
      - redis
      - mongo
    restart: always

  mysql:
    image: mysql:8.0
    container_name: cube_python_django_gunicorn_mysql
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=test
    volumes:
      - cube_python_django_gunicorn_mysql:/var/lib/mysql
    ports:
      - "3306:3306"

  mongo:
    image: mongo:7.0.12
    container_name: cube_python_django_gunicorn_mongo

  redis:
    image: redis:alpine3.18
    container_name: cube_python_django_gunicorn_redis

volumes:
  cube_python_django_gunicorn_mysql:
